@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


.hide {
  display: none !important;
}

.tools {  
  border-radius: 5px;    
  width: 400px;
  display: block;  
  .group-alignitems span {
    width: auto;
  }
  &.active {  
  }
  &:hover {
    cursor: all-scroll;
  }
  input[type="text"] {
    height: 34px;
    padding: 0 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    min-width: unset;
  }
  label { 
    b {
      font-size: 13px;

    }   
  }
  input[type="radio"],
  input[type="checkbox"], {
    + span {
      display: inline-flex;      
      align-items: center;      
      justify-content: center;
      padding: 0 7px;
      outline: 1px solid #ccc;
      border-radius: 5px;
      height: 34px;
      min-width: 40px;   
      font-weight: 700;   
      font-size: 14px;
      svg {
        width: 20px;
      }   
    }
    + span.w50s {
      width: 20px;
      min-width: auto;
    }
    display: none;
    &:checked {
      + span {
        background-color: rgb(234, 235, 235);
      }
    }
  }
}

.grayact {
  background-color: #e9fefe;
}

.flex-group {
 display: flex; 
}

.sbetw {
  display: flex;  
  justify-content: space-between;
  
  &:before {
    content: "";
    display: block;
    height: 15px;
    width: 2px;
    background-color: #999;
    margin-right: 5px;
  }
  &:after {
    content: "";
    display: block;
    height: 15px;
    width: 2px;
    background-color: #999;
    margin-left: 5px;
  }
}

.saper {
  width: 14px;
  height: 34px;
  
}

.fonst-labels-group {  
  left: 50%;
  top: 50%;
  position: fixed;
  
}

.tools-close {
  position: absolute;
  right: 15px;
  top: 15px;
  &:before,
  &:after {
    display: block;
    content: "";
    width: 2px;
    height: 1em;
    background: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform-origin: center;
  }
  &:before {
    transform: translate3d(-50%,-50%,0) rotate(45deg);
  }
  &:after {
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
  }
}

.flexjcai-labels-group {
  display: flex;  
  align-items: flex-start;
}

.tool-btn-w {
  position: relative;
  width: 100%;
  display: block;
  height: 0;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  margin-top: -20px;  
  width: 0;
}
.tool-btn {
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  position: absolute;
  right: 0;
  top: -5px;
  content: "";
  display: block;
  width: 20px;    
  height: 20px;
  background-color: #00bcd4;
  margin-left: auto;  
  border-radius: 50%;
}  


.wrapper.bord *:not(.remove) {
  overflow: visible;
}

#active {
  &:hover {
    .tool-btn-w {

    }
  }
}

.roww {
  margin: 0 -15px;
  display: flex;
}

.cool {
  width: 50%;
  padding: 0 15px;
}

.tools2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  box-shadow: none;
  padding: 0;
  label {
    margin-right: 0;
    width: auto;
    span {

    }
  }
  .ml10 {
    margin-left: 10px;
  }
}  


.displ {
  padding-top: 25px;
  border-top: 1px solid #ccc;
}

.block-icon {
  position: relative;
  display: flex;  
  justify-content: center;  
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;    
    border: 3px solid #555;
  }
}

.dflex-icon {
  position: relative;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  justify-content: center;  
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 15px;    
    border: 2px solid #555;
    margin-left: -7px;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 15px;    
    border: 2px solid #555;
    margin-right: -7px;
  }
}

.tools1 {
  display: none;
}

.group-float span, .group-overflow span, .group-position span, .group-text-align span {

}

.stroove {
  top: 576px !important;
}

.copy-html {
  top: 629px !important;
}

.link {
  top: 466px;
}

.span {
  top: 516px;
}


input[type="text"].width,
input[type="text"].height {
  background-color: #dafffc
}

input[type="text"].fWeight {

}

.rot-90 {  
  transform: rotate(-90deg);    
}

.rot90 {
  transform: rotate(90deg);
  
}
.rot180 {
  transform: rotate(180deg);
}

.bordside {
  padding-top: 1px !important;
  padding-left: 1px !important;
}

.left-const {
  position: absolute;
  bottom: 17px;
  left: 0;
  background-color: #fff;
  z-index: 2;
  height: 586px;    
  overflow-y: scroll;
  width: 298px;
  padding: 10px;
  color: #FFF; 
  display: none;
}

.const-elem-action {
  max-width: 100%;
  box-shadow: 0 2px 15px 0 rgba(57,68,71,0.25);
  transition: 0.25s;
  cursor: pointer;
  margin-bottom: 10px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 11px;  
  &_50 {
    width: calc(50% - 5px);
  }
  &_33 {
    width: 33.333%;
  }
  &_v {
    height: 70px;
  }
  &_v2 {
    height: 140px;
  }
  &:hover {
    box-shadow: 0 2px 15px 0 rgba(57,68,71,0.45);
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.group-50 {
  display: flex;  
  justify-content: space-between;
}

.colss {
  .coll-w {
    margin-right: 13px; 
    margin-left: 0; 
  }
  .coll-aw {
    margin-right: 0;
    margin-left: 0px;
    padding: 5px 8px;
  }
  .coll-7 {
    margin-right: 0;
  }
  .coll-8 {
    width: 60px;
    margin-right: 0;
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    margin-right: 15px;
  }
}


.form input[type="text"].radius_input {
  position: absolute;
  top: 588px;
  left: 68px;
  width: 45px;
  height: 30px;
  max-width: unset;
  background-color: #FFF;
  text-align: center;
}

.text_val_add_2 {
  width: 1300px;
}

.obb_img {
  position: absolute;
  top: 469px;
  left: 70px;
}

.coluu-w {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
}
.coluu {
  float: none;
  margin: 0 5px 5px 5px;
  padding: 6px 8px;
  display: inline-flex !important;
  line-height: 1;
  cursor: pointer;  
  align-items: center;  
  justify-content: center;
  border: 1px solid #ccc;
  height: 30px;
  &:hover {    
    border: 1px solid #000;
    background-color: #ff8d18;
    font-weight: bold;
  }
  span {
    width: 3px;
    background-color: #555;
    height: 100%;
    margin: 0 2px;
  }
}